@model IEnumerable<POSApplication.Models.EmployeeLoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallmentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidInstallment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfInstallment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallmentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidInstallment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfInstallment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeLoanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeLoanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeLoanID })
        </td>
    </tr>
}

</table>
