@model POSApplication.Models.BankAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrancID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrancID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBANNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBANNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankAccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
