@model IEnumerable<POSApplication.Models.Commission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BranchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommissionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommissionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommissionID })
        </td>
    </tr>
}

</table>
