@model POSApplication.Models.EmployeeAdvance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmployeeAdvance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeAdvanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
