@model POSApplication.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdcutCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdcutCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandNameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandNameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenerationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenerationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RamID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RamID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HardDiskID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HardDiskID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
