@model POSApplication.Models.Salary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalaryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
