@model POSApplication.Models.Expens

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Expens</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ExpensesTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ExpensesTypeID" class="form-control">
                    <option value="-1" selected>Select Expense Typle</option>
                    @if (ViewBag.exptyle != null)
                    {
                        foreach (var item in ViewBag.exptyle)
                        {
                <option value="@item.ExpensesTypeID">@item.ExpensesTypeName</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ExpensesTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpensesDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="ExpensesDate" class="form-control"/>
                @Html.ValidationMessageFor(model => model.ExpensesDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.ExpensesAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpensesAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpensesAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
