@model POSApplication.Models.BankPayment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Deshboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BankPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheqNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheqNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PdcDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PdcDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsClear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankPaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
